# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.pdb

# Executables
*.exe
*.out
*.app

# Visual Studio Project
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.rc
*.manifest
*.ilk
*.aps

# qmake project
.qmake.stash
target_wrapper.bat

# uncommitable folder
.vs/*
main/x64/*
main/debug/*
main/release/*
main/GeneratedFiles/*
support_package/*
src/x64/*
src/debug/*
src/release/*
src/GeneratedFiles/*
tests/x64/*
tests/debug/*
tests/release/*
tests/GeneratedFiles/*
doc/html/*
.vscode/*
