# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.pdb

# Executables
*.exe
*.out
*.app

# Visual Studio Project
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.rc
*.manifest
*.ilk

# qmake project
.qmake.stash
target_wrapper.bat

# uncommitable folder
.vs/*
main/debug/*
main/release/*
packages/*
src/debug/*
src/release/*
tests/debug/*
tests/release/*
